<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://code.alibabatech.com/schema/dubbo 
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd 
		http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"  default-autowire="byName">
    
	<!-- 消费方应用名称信息，这个相当于起一个名字，我们dubbo管理页面比较清晰是哪个应用调用的,保持唯一性 -->
     <dubbo:application name="dubbo_consumer_api"  />

	<!--使用zookeeper注册中心发现暴露的服务地址 192.168.116.1-->
	<dubbo:registry address="zookeeper://127.0.0.1:2181" />
   
	<!--192.168.31.211-->
     <!-- 生成远程服务代理，可以和本地bean一样使用demoService，该interface需要与服务端暴露的服务interface保持一致，该id已注入Spring -->

	<dubbo:reference id="userService" interface="com.four.service.IUserService"  check="false"  timeout="60000"/>
	<dubbo:reference id="solrService" interface="com.four.service.SolrService"  check="false"  timeout="60000"/>
	<dubbo:reference id="ossService" interface="com.four.service.IOssService"  check="false"  timeout="60000"/>
	<dubbo:reference id="loginService" interface="com.four.service.ILoginService"  check="false"  timeout="60000"/>
	<dubbo:reference id="treeService" interface="com.four.service.IServiceTree"  check="false"  timeout="60000"/>
	<dubbo:reference id="roleService" interface="com.four.service.RoleService"  check="false"  timeout="60000"/>
	<dubbo:reference id="noticeService" interface="com.four.service.INoticeService"  check="false"  timeout="60000"/>
	<dubbo:reference id="jianLiService" interface="com.four.service.JianLiService"  check="false"  timeout="60000"/>
	<dubbo:reference id="bosssService" interface="com.four.service.BosssService"   check="false" timeout="60000"/>
	<dubbo:reference id="gongsiService" interface="com.four.service.GongsiService"  check="false"  timeout="60000"/>
	<dubbo:reference id="newService" interface="com.four.service.NewService"  check="false"  timeout="60000"/>
	<dubbo:reference id="treesService" interface="com.four.service.TreesService"  check="false"  timeout="60000"/>
	<dubbo:reference id="usersService" interface="com.four.service.UsersService"   check="false" timeout="60000"/>
	<dubbo:reference id="zhiweiService" interface="com.four.service.ZhiweiService"  check="false"  timeout="60000"/>
	<dubbo:reference id="logService" interface="com.four.service.LogService"   timeout="60000" />
	<dubbo:reference id="guanggaoService" interface="com.four.service.GuanggaoService"   timeout="60000" />


</beans>
